body{
  font-family: helvetica;
  color:#484848;
}

.sizePc {
  display:none;
}

.iconePc{
  display:none;
}

.sizeTablette{
  display: none;
}

.divTablette{
  display:none;
}

.iconeTablette{
  display:none;
}

.iconeMobile{
  width: 36px;
  height: 36px;
  margin-top: 5px;
  margin-left: 15px;
}

h1,.wordColor{
  width: auto;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.1;
}

h1{
  margin: 50px 20px;
}

.wordColor{
  font-size: 26px;
  color:#ff5a5f;
  margin-left: 0;
}

.sizeMobile{
  width: auto;
  height: 50px;
  margin: 50px 15px;
}

input{
  width: 100%;
  height: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

form + nav{
  margin-left: 15px;
}

nav ul{
  display: flex;
  justify-content:flex-start;
  border-bottom: 1px solid #e4e4e4;
  list-style-type: none;
  padding-left: 0;
  overflow: scroll;
}

li{
  font-weight: bold;
  font-size: 12px;
  background-color: white;
  margin: 0 15px 10px 0;
}

a{
  width: 25%;
  text-decoration: none;
  color: inherit;
}

.colorTitle{
  color: #00848c;
}

h2{
  display: block;
  margin-left: 15px;
  margin-bottom: auto;
}

.divMobile{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

figure{
  width: 150%;
  height: auto;
  margin-left: 0;
}
img{
  width: 100%;
  height: 250px;
}

figcaption{
  width: 100%;
  height: 50px;
  font-size: 1em;
  overflow: scroll;
}

span{
  font-weight: bold;
}

.sectionDiv figure img{
  width: 100%;
  height: 275px;
  margin-left:-25px;
}

.sectionDiv p{
  margin-left: 15px;
}

.sectionDiv section button{
  width: auto;
  height: 35px;
  color: white;
  font-weight: bold;
  background-color: #008489;
  border: 0 solid lightgrey;
  border-radius: 5px;
  margin: 15px;
  padding:0 15px;
}

footer{
  border-top: 1px solid #dce0e0;
}
footer form{
  display: flex;
  border-bottom: 1px solid #dce0e0;
}
footer form select {
  width: 40%;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dce0e0;
  margin: 50px 0 20px 15px;
}


footer ul img{
  width: 15px;
  height: 20px;
}

.footer {
  color: #767676;
}









/******************************************Début min-width 744px****************************************************/
@media (min-width: 744px) {

  h1, .wordColor{
    font-size: 44px;
    margin-top: 70px;
  }

  .wordColor{
    font-weight: bold;
  }

  .iconeMobile{
    display: none;
  }

  .iconeTablette{
    display: inline;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 15px;
  }

  .sizeMobile {
    display: none;
  }

  .sizeTablette{
    display: block;
  }

  .sizeTablette{
    margin: 10px 0 70px 0;
  }

  .formTablette{
    display: flex;
    justify-content: flex-start;
    margin: 0 15px;
    width: auto;
    height: 50px;
  }

  .divMobile{
    display: none;
  }

  .divTablette{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
  }

  .divTablette figure{
    width: 75%;
  }

  .sectionDiv{
    display: flex;
    justify-content: space-around;
  }

  .sectionDiv figure{
    order: 2;
    width: 45%;
    margin-right: 0;
  }

  .sectionDiv section{
    width: 45%;
  }

  .listFooter{
  display: flex;
  }

  .listFooter form{
    flex-direction: column;
    width: 30%;
  }

  .listFooter section{
    display: inline-block;
    vertical-align: top;
    border: none;
    margin: 0 5px;


  }

  .listFooter h3{
    margin-left: 38px;
  }

  .listFooter ul{
    flex-direction: column;
    list-style-type: none;
  }

  .footer{
    border-top: 1px solid #e4e4e4;
  }

  .footer ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;;
  }
}









/*************************************************Début Min-width 992px*************************************************/
@media (min-width: 992px) {
  header{

  }

  .sizeTablette{
    display: none;
  }

  .divTablette{
    display: none;
  }
}
